@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0f0e0c];
  }

  body,
  html {
    @apply scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-black tracking-widest;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h1 {
    @apply text-4xl;
  }
}
